@font-face {
    font-family: Alex;
    src: url(AlexBrush-Regular.ttf);
}

body {
    background: url(assets/corner-LT-pattern.png) no-repeat 10px 10px,
                url(assets/corner-RB-pattern.png) no-repeat bottom right lavender;
}

pre {
    color: purple;
    line-height: 1.5;
    font-size: 22pt;
    font-family: Alex, Georgia, serif;
}

strong {
    font-family: Alex, Georgia, serif;
    font-size: 22pt;
    font-weight: bold;
}

div {
    background: url(assets/ytile-pattern.png) repeat-y 10px 0px white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    text-align: center;
    border-radius: 50px 25px 50px 25px;
    box-shadow: 10px 5px 5px #888888;
}
p {
    font-family: Alex, Georgia, serif;
    font-size: 22pt;
    font-weight: bold;
}